* {
  /*lo utilizamos para el responsive,
    seria la suma del ancho y relleno de los elementos*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
}

body {
  background-image: url("/imagenes/pexels-scott-webb-2824173.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
}

.menu_bar {
  display: none;
  position: absolute;
}


header nav {
  background: #E7E7E7;
  z-index: 1000;
  width: 100%;
  text-align: center;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  position: relative;
}

header nav ul li:hover {
  background: #ffffff;
}

header nav ul li a {
  color: black;
  display: block;
  text-decoration: none;
  padding: 20px;
}

header nav ul li a span {
  margin-right: 10px;
}

header nav ul li .caret {
  position: relative;
  top: 3px;
  margin-left: 10px;
  margin-right: 0px;
}

/* footers */

.pie-pagina {
  width: 100%;
  background-color: #24252A;
}

.pie-pagina .grupo {

  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;

}

.pie-pagina .grupo .caja figure img {

  width: 40%;
  height: 40%;

}



.pie-pagina .grupo .caja h3 {

  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;

}

.pie-pagina .grupo .caja p {

  color: #efeefe;
  margin-bottom: 10px;

}

.pie-pagina .grupo .red-social a {

  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #efeefe;
  margin-right: 10px;
  background-color: black;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 8px;

}

.pie-pagina .grupo .red-social .fa-facebook {
  background-image: url("../imagenes/pngegg\ \(16\).png");
  background-size: 50px;
  background-position: center;
}

.pie-pagina .grupo .red-social .fa-instagram {
  background-image: url("../imagenes/pngegg\ \(18\).png");
  background-size: 55px;
  background-position: center;
}

.pie-pagina .grupo .red-social .fa-twitter {
  background-image: url("../imagenes/pngegg\ \(19\).png");
  background-size: 55px;
  background-position: center;
}


.pie-pagina .grupo .red-social a:hover {

  color: #2FEF1E;
  transform: scale(1.10);

}

.pie-pagina .grupo2 {

  background-color: black;
  padding: 15px 10px;
  text-align: center;
  color: #fff;

}

.container {

  border: solid 1px rgba(255, 255, 255, 0.2);

}

.contenedor {

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.contenedor button {

  transition: all 0.3s ease 0s;

}

@media screen and (max-width: 752px) {
  body {
    padding-top: 80px;
  }

  .menu_bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    background: #E7E7E7;
    position: absolute;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  .menu_bar span {
    float: right;
    font-size: 40px;
  }

  header nav {
    width: 80%;
    height: calc(100% - 80px);
    position: fixed;
    right: 100%;
    margin: 0;
    position: absolute;
    overflow: scroll;
  }

  header nav ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }

  header nav ul li a {
    display: block;
  }

  header nav ul li .caret {
    float: right;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin-bottom: 10px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}